openapi: 3.1.0
info:
  title: Riderescue API
  version: v1
  description: Riderescue backend API
  license:
    name: MIT
    identifier: MIT
servers:
  - url: https://api.riderescueautolink.com
    description: Riderescue API
security:
  - bearerAuth: []
paths:
  /users:
    x-codegen:
      resource:
        name: users
        path: []
    get:
      operationId: listUsers
      tags:
        - users
      summary: List users
      responses:
        '200':
          $ref: '#/components/responses/ListUsers200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      parameters:
        - $ref: '#/components/parameters/PageQueryParam'
        - $ref: '#/components/parameters/LimitQueryParam'
        - $ref: '#/components/parameters/SortQueryParam'
        - $ref: '#/components/parameters/FieldsQueryParam'
        - $ref: '#/components/parameters/PopulateQueryParam'
        - $ref: '#/components/parameters/SearchQueryParam'
        - $ref: '#/components/parameters/UsersFilterQueryParam'
        - $ref: '#/components/parameters/UsersSortQueryParam'
        - $ref: '#/components/parameters/UsersSelectQueryParam'
      x-codegen:
        parameters:
          target:
            $ref: '#/components/schemas/UserListQuery'
    post:
      operationId: createUser
      tags:
        - users
      summary: Create user
      responses:
        '201':
          $ref: '#/components/responses/CreateUser201Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '409':
          $ref: '#/components/responses/CreateUser409Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/CreateUserRequestBody'
  /users/me:
    x-codegen:
      resource:
        name: users
        path: []
    get:
      operationId: getCurrentUser
      tags:
        - users
      summary: Get current user
      responses:
        '200':
          $ref: '#/components/responses/GetCurrentUser200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      parameters:
        - $ref: '#/components/parameters/FieldsQueryParam'
        - $ref: '#/components/parameters/PopulateQueryParam'
        - $ref: '#/components/parameters/UsersSelectQueryParam'
      x-codegen:
        parameters:
          target:
            $ref: '#/components/schemas/UserDetailQuery'
  /users/{userId}:
    x-codegen:
      resource:
        name: users
        path: []
    parameters:
      - $ref: '#/components/parameters/UsersUserIdPathParam'
    get:
      operationId: getUserById
      tags:
        - users
      summary: Get user by ID
      responses:
        '200':
          $ref: '#/components/responses/GetUserById200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      parameters:
        - $ref: '#/components/parameters/FieldsQueryParam'
        - $ref: '#/components/parameters/PopulateQueryParam'
        - $ref: '#/components/parameters/UsersSelectQueryParam'
      x-codegen:
        parameters:
          target:
            $ref: '#/components/schemas/UserDetailQuery'
    patch:
      operationId: updateUser
      tags:
        - users
      summary: Update user
      responses:
        '200':
          $ref: '#/components/responses/UpdateUser200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/UpdateUserRequestBody'
    delete:
      operationId: deleteUser
      tags:
        - users
      summary: Delete user
      responses:
        '200':
          $ref: '#/components/responses/DeleteUser200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
  /users/settings:
    x-codegen:
      resource:
        name: UserSettings
        path:
          - platform
          - users
    get:
      operationId: getMySettings
      tags:
        - UserSettings
      summary: Get my settings
      responses:
        '200':
          $ref: '#/components/responses/GetMySettings200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
    put:
      operationId: updateMySettings
      tags:
        - UserSettings
      summary: Update my settings
      responses:
        '200':
          $ref: '#/components/responses/UpdateMySettings200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/UpdateMySettingsRequestBody'
  /users/settings/notifications/categories/{category}:
    x-codegen:
      resource:
        name: UserSettings
        path:
          - platform
          - users
    parameters:
      - $ref: '#/components/parameters/UserSettingsCategoryPathParam'
    patch:
      operationId: updateNotificationCategory
      tags:
        - UserSettings
      summary: Update notification category
      responses:
        '200':
          $ref: '#/components/responses/UpdateNotificationCategory200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/UpdateNotificationCategoryRequestBody'
  /users/settings/reset:
    x-codegen:
      resource:
        name: UserSettings
        path:
          - platform
          - users
    post:
      operationId: resetMySettings
      tags:
        - UserSettings
      summary: Reset my settings
      responses:
        '200':
          $ref: '#/components/responses/ResetMySettings200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
  /vehicles:
    x-codegen:
      resource:
        name: Vehicle
        path:
          - platform
          - vehicles
    get:
      operationId: listVehicles
      tags:
        - Vehicle
      summary: List vehicles
      responses:
        '200':
          $ref: '#/components/responses/ListVehicles200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      parameters:
        - $ref: '#/components/parameters/PageQueryParam'
        - $ref: '#/components/parameters/LimitQueryParam'
        - $ref: '#/components/parameters/SortQueryParam'
        - $ref: '#/components/parameters/FieldsQueryParam'
        - $ref: '#/components/parameters/PopulateQueryParam'
        - $ref: '#/components/parameters/SearchQueryParam'
        - $ref: '#/components/parameters/VehicleMakeQueryParam'
        - $ref: '#/components/parameters/VehicleStatusQueryParam'
      x-codegen:
        parameters:
          target:
            $ref: '#/components/schemas/VehicleListQuery'
    post:
      operationId: createVehicle
      tags:
        - Vehicle
      summary: Create vehicle
      responses:
        '201':
          $ref: '#/components/responses/CreateVehicle201Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/CreateVehicleRequestBody'
  /vehicles/{vehicleId}:
    x-codegen:
      resource:
        name: Vehicle
        path:
          - platform
          - vehicles
    parameters:
      - $ref: '#/components/parameters/VehicleVehicleIdPathParam'
    get:
      operationId: getVehicleById
      tags:
        - Vehicle
      summary: Get vehicle by ID
      responses:
        '200':
          $ref: '#/components/responses/GetVehicleById200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      parameters:
        - $ref: '#/components/parameters/VehicleFieldsQueryParam'
        - $ref: '#/components/parameters/VehiclePopulateQueryParam'
      x-codegen:
        parameters:
          target:
            $ref: '#/components/schemas/VehicleDetailQuery'
    patch:
      operationId: updateVehicle
      tags:
        - Vehicle
      summary: Update vehicle
      responses:
        '200':
          $ref: '#/components/responses/UpdateVehicle200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/UpdateVehicleRequestBody'
  /auth/resolve-email:
    x-codegen:
      resource:
        name: Auth
        path:
          - platform
          - auth
    post:
      operationId: resolveEmail
      tags:
        - Auth
      summary: Resolve email
      responses:
        '200':
          $ref: '#/components/responses/ResolveEmail200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/ResolveEmailRequestBody'
  /auth/signup:
    x-codegen:
      resource:
        name: Auth
        path:
          - platform
          - auth
    post:
      operationId: signup
      tags:
        - Auth
      summary: Sign up
      responses:
        '201':
          $ref: '#/components/responses/Signup201Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '409':
          $ref: '#/components/responses/Signup409Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/SignupRequestBody'
  /auth/login:
    x-codegen:
      resource:
        name: Auth
        path:
          - platform
          - auth
    post:
      operationId: login
      tags:
        - Auth
      summary: Login
      responses:
        '200':
          $ref: '#/components/responses/Login200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/LoginRequestBody'
  /auth/admin/login:
    x-codegen:
      resource:
        name: Auth
        path:
          - platform
          - auth
    post:
      operationId: adminLogin
      tags:
        - Auth
      summary: Admin login
      responses:
        '200':
          $ref: '#/components/responses/AdminLogin200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/AdminLoginRequestBody'
  /auth/google:
    x-codegen:
      resource:
        name: Auth
        path:
          - platform
          - auth
    post:
      operationId: googleSignIn
      tags:
        - Auth
      summary: Google sign-in
      responses:
        '200':
          $ref: '#/components/responses/GoogleSignIn200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/GoogleSignInRequestBody'
  /auth/verify-email:
    x-codegen:
      resource:
        name: Auth
        path:
          - platform
          - auth
    post:
      operationId: verifyEmail
      tags:
        - Auth
      summary: Verify email
      responses:
        '200':
          $ref: '#/components/responses/VerifyEmail200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/VerifyEmailRequestBody'
  /auth/resend-verification-email:
    x-codegen:
      resource:
        name: Auth
        path:
          - platform
          - auth
    post:
      operationId: resendVerificationEmail
      tags:
        - Auth
      summary: Resend verification email
      responses:
        '200':
          $ref: '#/components/responses/ResendVerificationEmail200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/ResendVerificationEmailRequestBody'
  /auth/forgot-password:
    x-codegen:
      resource:
        name: Auth
        path:
          - platform
          - auth
    post:
      operationId: forgotPassword
      tags:
        - Auth
      summary: Forgot password
      responses:
        '200':
          $ref: '#/components/responses/ForgotPassword200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/ForgotPasswordRequestBody'
  /auth/reset-password:
    x-codegen:
      resource:
        name: Auth
        path:
          - platform
          - auth
    post:
      operationId: resetPassword
      tags:
        - Auth
      summary: Reset password
      responses:
        '200':
          $ref: '#/components/responses/ResetPassword200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/ResetPasswordRequestBody'
  /auth/change-password:
    x-codegen:
      resource:
        name: Auth
        path:
          - platform
          - auth
    put:
      operationId: changePassword
      tags:
        - Auth
      summary: Change password
      responses:
        '200':
          $ref: '#/components/responses/ChangePassword200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/ChangePasswordRequestBody'
  /notifications/me:
    x-codegen:
      resource:
        name: Notification
        path:
          - platform
          - notifications
    get:
      operationId: getMyNotifications
      tags:
        - Notification
      summary: Get my notifications
      responses:
        '200':
          $ref: '#/components/responses/GetMyNotifications200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      parameters:
        - name: page
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedPage'
        - name: limit
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedLimit'
        - name: sort
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedSort'
        - name: fields
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedFields'
        - name: populate
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedPopulate'
        - name: category
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/NotificationCategory'
        - name: type
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/NotificationType'
        - name: priority
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/NotificationPriority'
        - name: isRead
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/NotificationIsRead'
        - $ref: '#/components/parameters/NotificationPageQueryParam'
        - $ref: '#/components/parameters/NotificationLimitQueryParam'
        - $ref: '#/components/parameters/NotificationSortQueryParam'
        - $ref: '#/components/parameters/NotificationFieldsQueryParam'
        - $ref: '#/components/parameters/NotificationPopulateQueryParam'
        - $ref: '#/components/parameters/NotificationCategoryQueryParam'
        - $ref: '#/components/parameters/NotificationTypeQueryParam'
        - $ref: '#/components/parameters/NotificationPriorityQueryParam'
        - $ref: '#/components/parameters/NotificationIsReadQueryParam'
  /notifications/me/unread-count:
    x-codegen:
      resource:
        name: Notification
        path:
          - platform
          - notifications
    get:
      operationId: getUnreadNotificationCount
      tags:
        - Notification
      summary: Get unread notification count
      responses:
        '200':
          $ref: '#/components/responses/GetUnreadNotificationCount200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
  /notifications/{notificationId}:
    x-codegen:
      resource:
        name: Notification
        path:
          - platform
          - notifications
    parameters:
      - $ref: '#/components/parameters/NotificationNotificationIdPathParam'
    get:
      operationId: getNotificationById
      tags:
        - Notification
      summary: Get notification by ID
      responses:
        '200':
          $ref: '#/components/responses/GetNotificationById200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
    delete:
      operationId: deleteNotification
      tags:
        - Notification
      summary: Delete notification
      responses:
        '200':
          $ref: '#/components/responses/DeleteNotification200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
  /notifications/{notificationId}/read:
    x-codegen:
      resource:
        name: Notification
        path:
          - platform
          - notifications
    parameters:
      - $ref: '#/components/parameters/NotificationNotificationIdPathParam'
    patch:
      operationId: markNotificationAsRead
      tags:
        - Notification
      summary: Mark notification as read
      responses:
        '200':
          $ref: '#/components/responses/MarkNotificationAsRead200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
  /notifications/me/read-all:
    x-codegen:
      resource:
        name: Notification
        path:
          - platform
          - notifications
    patch:
      operationId: markAllNotificationsAsRead
      tags:
        - Notification
      summary: Mark all notifications as read
      responses:
        '200':
          $ref: '#/components/responses/MarkAllNotificationsAsRead200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
  /notifications:
    x-codegen:
      resource:
        name: Notification
        path:
          - platform
          - notifications
    post:
      operationId: createNotification
      tags:
        - Notification
      summary: Create notification
      responses:
        '201':
          $ref: '#/components/responses/CreateNotification201Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/CreateNotificationRequestBody'
  /uploads:
    x-codegen:
      resource:
        name: Upload
        path:
          - platform
          - uploads
    post:
      operationId: uploadFile
      tags:
        - Upload
      summary: Upload file
      responses:
        '201':
          $ref: '#/components/responses/UploadFile201Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/UploadFileRequestBody'
  /uploads/{uploadId}/claim:
    x-codegen:
      resource:
        name: Upload
        path:
          - platform
          - uploads
    parameters:
      - $ref: '#/components/parameters/UploadUploadIdPathParam'
    patch:
      operationId: claimUpload
      tags:
        - Upload
      summary: Claim upload
      responses:
        '200':
          $ref: '#/components/responses/ClaimUpload200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/ClaimUploadRequestBody'
  /uploads/{uploadId}:
    x-codegen:
      resource:
        name: Upload
        path:
          - platform
          - uploads
    parameters:
      - $ref: '#/components/parameters/UploadUploadIdPathParam'
    delete:
      operationId: deleteUpload
      tags:
        - Upload
      summary: Delete upload
      responses:
        '200':
          $ref: '#/components/responses/DeleteUpload200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
  /references/documents:
    x-codegen:
      resource:
        name: Document
        path:
          - references
          - documents
    get:
      operationId: getAllDocuments
      tags:
        - Document
      summary: Get all documents
      responses:
        '200':
          $ref: '#/components/responses/GetAllDocuments200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      parameters:
        - name: page
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedPage'
        - name: limit
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedLimit'
        - name: sort
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedSort'
        - name: fields
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedFields'
        - name: populate
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedPopulate'
        - name: search
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedSearch'
        - name: documentType
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/DocumentDocumentType'
        - name: category
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/DocumentCategory'
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/DocumentStatus'
        - name: format
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/DocumentFormat'
        - name: isActive
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/DocumentIsActive'
        - name: isMandatory
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/DocumentIsMandatory'
        - $ref: '#/components/parameters/DocumentPageQueryParam'
        - $ref: '#/components/parameters/DocumentLimitQueryParam'
        - $ref: '#/components/parameters/DocumentSortQueryParam'
        - $ref: '#/components/parameters/DocumentFieldsQueryParam'
        - $ref: '#/components/parameters/DocumentPopulateQueryParam'
        - $ref: '#/components/parameters/DocumentSearchQueryParam'
        - $ref: '#/components/parameters/DocumentDocumentTypeQueryParam'
        - $ref: '#/components/parameters/DocumentCategoryQueryParam'
        - $ref: '#/components/parameters/DocumentStatusQueryParam'
        - $ref: '#/components/parameters/DocumentFormatQueryParam'
        - $ref: '#/components/parameters/DocumentIsActiveQueryParam'
        - $ref: '#/components/parameters/DocumentIsMandatoryQueryParam'
    post:
      operationId: createDocument
      tags:
        - Document
      summary: Create document
      responses:
        '201':
          $ref: '#/components/responses/CreateDocument201Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/CreateDocumentRequestBody'
  /references/documents/by-id/{documentId}:
    x-codegen:
      resource:
        name: Document
        path:
          - references
          - documents
    parameters:
      - $ref: '#/components/parameters/DocumentDocumentIdPathParam'
    get:
      operationId: getDocumentById
      tags:
        - Document
      summary: Get document by ID
      responses:
        '200':
          $ref: '#/components/responses/GetDocumentById200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
  /references/documents/type/{documentType}:
    x-codegen:
      resource:
        name: Document
        path:
          - references
          - documents
    parameters:
      - $ref: '#/components/parameters/DocumentDocumentTypePathParam'
    get:
      operationId: getDocumentsByType
      tags:
        - Document
      summary: Get documents by type
      responses:
        '200':
          $ref: '#/components/responses/GetDocumentsByType200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
  /references/documents/{documentId}:
    x-codegen:
      resource:
        name: Document
        path:
          - references
          - documents
    parameters:
      - $ref: '#/components/parameters/DocumentDocumentIdPathParam'
    put:
      operationId: updateDocument
      tags:
        - Document
      summary: Update document
      responses:
        '200':
          $ref: '#/components/responses/UpdateDocument200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/UpdateDocumentRequestBody'
    delete:
      operationId: deleteDocument
      tags:
        - Document
      summary: Delete document
      responses:
        '200':
          $ref: '#/components/responses/DeleteDocument200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
  /references/documents/required:
    x-codegen:
      resource:
        name: RequiredDocument
        path:
          - references
          - documents
    get:
      operationId: getAllRequiredDocuments
      tags:
        - RequiredDocument
      summary: Get all required documents
      responses:
        '200':
          $ref: '#/components/responses/GetAllRequiredDocuments200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      parameters:
        - name: page
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedPage'
        - name: limit
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedLimit'
        - name: sort
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedSort'
        - name: fields
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedFields'
        - name: populate
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedPopulate'
        - name: search
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedSearch'
        - name: serviceType
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/RequiredDocumentServiceType'
        - name: required
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/RequiredDocumentRequired'
        - name: isActive
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/RequiredDocumentIsActive'
        - $ref: '#/components/parameters/RequiredDocumentPageQueryParam'
        - $ref: '#/components/parameters/RequiredDocumentLimitQueryParam'
        - $ref: '#/components/parameters/RequiredDocumentSortQueryParam'
        - $ref: '#/components/parameters/RequiredDocumentFieldsQueryParam'
        - $ref: '#/components/parameters/RequiredDocumentPopulateQueryParam'
        - $ref: '#/components/parameters/RequiredDocumentSearchQueryParam'
        - $ref: '#/components/parameters/RequiredDocumentServiceTypeQueryParam'
        - $ref: '#/components/parameters/RequiredDocumentRequiredQueryParam'
        - $ref: '#/components/parameters/RequiredDocumentIsActiveQueryParam'
    post:
      operationId: createRequiredDocument
      tags:
        - RequiredDocument
      summary: Create required document
      responses:
        '201':
          $ref: '#/components/responses/CreateRequiredDocument201Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/CreateRequiredDocumentRequestBody'
  /references/documents/required/{requiredDocumentId}:
    x-codegen:
      resource:
        name: RequiredDocument
        path:
          - references
          - documents
    parameters:
      - $ref: '#/components/parameters/RequiredDocumentRequiredDocumentIdPathParam'
    get:
      operationId: getRequiredDocumentById
      tags:
        - RequiredDocument
      summary: Get required document by ID
      responses:
        '200':
          $ref: '#/components/responses/GetRequiredDocumentById200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
    put:
      operationId: updateRequiredDocument
      tags:
        - RequiredDocument
      summary: Update required document
      responses:
        '200':
          $ref: '#/components/responses/UpdateRequiredDocument200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/UpdateRequiredDocumentRequestBody'
    delete:
      operationId: deleteRequiredDocument
      tags:
        - RequiredDocument
      summary: Delete required document
      responses:
        '200':
          $ref: '#/components/responses/DeleteRequiredDocument200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
  /references/documents/required/service/{serviceType}:
    x-codegen:
      resource:
        name: RequiredDocument
        path:
          - references
          - documents
    parameters:
      - $ref: '#/components/parameters/RequiredDocumentServiceTypePathParam'
    get:
      operationId: getRequiredDocumentsByServiceType
      tags:
        - RequiredDocument
      summary: Get required documents by service type
      responses:
        '200':
          $ref: '#/components/responses/GetRequiredDocumentsByServiceType200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
  /references/vehicles/brands:
    x-codegen:
      resource:
        name: VehicleBrand
        path:
          - references
          - vehicles
    get:
      operationId: getAllBrands
      tags:
        - VehicleBrand
      summary: Get all brands
      responses:
        '200':
          $ref: '#/components/responses/GetAllBrands200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      parameters:
        - name: page
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedPage'
        - name: limit
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedLimit'
        - name: sort
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedSort'
        - name: fields
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedFields'
        - name: populate
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedPopulate'
        - name: search
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedSearch'
        - name: isActive
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/VehicleBrandIsActive'
        - $ref: '#/components/parameters/VehicleBrandPageQueryParam'
        - $ref: '#/components/parameters/VehicleBrandLimitQueryParam'
        - $ref: '#/components/parameters/VehicleBrandSortQueryParam'
        - $ref: '#/components/parameters/VehicleBrandFieldsQueryParam'
        - $ref: '#/components/parameters/VehicleBrandPopulateQueryParam'
        - $ref: '#/components/parameters/VehicleBrandSearchQueryParam'
        - $ref: '#/components/parameters/VehicleBrandIsActiveQueryParam'
    post:
      operationId: createBrand
      tags:
        - VehicleBrand
      summary: Create brand
      responses:
        '201':
          $ref: '#/components/responses/CreateBrand201Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/CreateBrandRequestBody'
  /references/vehicles/brands/{brandId}:
    x-codegen:
      resource:
        name: VehicleBrand
        path:
          - references
          - vehicles
    parameters:
      - $ref: '#/components/parameters/VehicleBrandBrandIdPathParam'
    get:
      operationId: getBrandById
      tags:
        - VehicleBrand
      summary: Get brand by ID
      responses:
        '200':
          $ref: '#/components/responses/GetBrandById200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
    put:
      operationId: updateBrand
      tags:
        - VehicleBrand
      summary: Update brand
      responses:
        '200':
          $ref: '#/components/responses/UpdateBrand200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/UpdateBrandRequestBody'
    delete:
      operationId: deleteBrand
      tags:
        - VehicleBrand
      summary: Delete brand
      responses:
        '200':
          $ref: '#/components/responses/DeleteBrand200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
  /references/vehicles/brands/{brandId}/toggle-status:
    x-codegen:
      resource:
        name: VehicleBrand
        path:
          - references
          - vehicles
    parameters:
      - $ref: '#/components/parameters/VehicleBrandBrandIdPathParam'
    patch:
      operationId: toggleBrandStatus
      tags:
        - VehicleBrand
      summary: Toggle brand status
      responses:
        '200':
          $ref: '#/components/responses/ToggleBrandStatus200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
  /references/vehicles/services:
    x-codegen:
      resource:
        name: VehicleService
        path:
          - references
          - vehicles
    get:
      operationId: getAllServices
      tags:
        - VehicleService
      summary: Get all services
      responses:
        '200':
          $ref: '#/components/responses/GetAllServices200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      parameters:
        - name: page
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedPage'
        - name: limit
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedLimit'
        - name: sort
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedSort'
        - name: fields
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedFields'
        - name: populate
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedPopulate'
        - name: search
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedSearch'
        - name: category
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/VehicleServiceCategory'
        - name: isActive
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/VehicleServiceIsActive'
        - $ref: '#/components/parameters/VehicleServicePageQueryParam'
        - $ref: '#/components/parameters/VehicleServiceLimitQueryParam'
        - $ref: '#/components/parameters/VehicleServiceSortQueryParam'
        - $ref: '#/components/parameters/VehicleServiceFieldsQueryParam'
        - $ref: '#/components/parameters/VehicleServicePopulateQueryParam'
        - $ref: '#/components/parameters/VehicleServiceSearchQueryParam'
        - $ref: '#/components/parameters/VehicleServiceCategoryQueryParam'
        - $ref: '#/components/parameters/VehicleServiceIsActiveQueryParam'
    post:
      operationId: createService
      tags:
        - VehicleService
      summary: Create service
      responses:
        '201':
          $ref: '#/components/responses/CreateService201Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/CreateServiceRequestBody'
  /references/vehicles/services/{serviceId}:
    x-codegen:
      resource:
        name: VehicleService
        path:
          - references
          - vehicles
    parameters:
      - $ref: '#/components/parameters/VehicleServiceServiceIdPathParam'
    get:
      operationId: getServiceById
      tags:
        - VehicleService
      summary: Get service by ID
      responses:
        '200':
          $ref: '#/components/responses/GetServiceById200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
    put:
      operationId: updateService
      tags:
        - VehicleService
      summary: Update service
      responses:
        '200':
          $ref: '#/components/responses/UpdateService200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/UpdateServiceRequestBody'
    delete:
      operationId: deleteService
      tags:
        - VehicleService
      summary: Delete service
      responses:
        '200':
          $ref: '#/components/responses/DeleteService200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
  /references/vehicles/services/{serviceId}/toggle-status:
    x-codegen:
      resource:
        name: VehicleService
        path:
          - references
          - vehicles
    parameters:
      - $ref: '#/components/parameters/VehicleServiceServiceIdPathParam'
    patch:
      operationId: toggleServiceStatus
      tags:
        - VehicleService
      summary: Toggle service status
      responses:
        '200':
          $ref: '#/components/responses/ToggleServiceStatus200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
  /driver-profile:
    x-codegen:
      resource:
        name: DriverProfile
        path:
          - platform
          - users
    post:
      operationId: createDriverProfile
      tags:
        - DriverProfile
      summary: Create driver profile
      responses:
        '201':
          $ref: '#/components/responses/CreateDriverProfile201Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '409':
          $ref: '#/components/responses/CreateDriverProfile409Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/CreateDriverProfileRequestBody'
  /driver-profile/me:
    x-codegen:
      resource:
        name: DriverProfile
        path:
          - platform
          - users
    get:
      operationId: getMyDriverProfile
      tags:
        - DriverProfile
      summary: Get my driver profile
      responses:
        '200':
          $ref: '#/components/responses/GetMyDriverProfile200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
    patch:
      operationId: updateMyDriverProfile
      tags:
        - DriverProfile
      summary: Update my driver profile
      responses:
        '200':
          $ref: '#/components/responses/UpdateMyDriverProfile200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/UpdateMyDriverProfileRequestBody'
  /companies:
    x-codegen:
      resource:
        name: Company
        path:
          - platform
          - companies
    post:
      operationId: createCompany
      tags:
        - Company
      summary: Create company
      responses:
        '201':
          $ref: '#/components/responses/CreateCompany201Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '409':
          $ref: '#/components/responses/CreateCompany409Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/CreateCompanyRequestBody'
    get:
      operationId: listCompanies
      tags:
        - Company
      summary: List companies
      responses:
        '200':
          $ref: '#/components/responses/ListCompanies200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      parameters:
        - name: page
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedPage'
        - name: limit
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedLimit'
        - name: sort
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedSort'
        - name: search
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedSearch'
        - name: type
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/CompanyType'
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/CompanyStatus'
        - name: city
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/CompanyCity'
        - name: country
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/CompanyCountry'
        - name: isActive
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/CompanyIsActive'
        - name: isVerified
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/CompanyIsVerified'
        - $ref: '#/components/parameters/CompanyPageQueryParam'
        - $ref: '#/components/parameters/CompanyLimitQueryParam'
        - $ref: '#/components/parameters/CompanySortQueryParam'
        - $ref: '#/components/parameters/CompanySearchQueryParam'
        - $ref: '#/components/parameters/CompanyTypeQueryParam'
        - $ref: '#/components/parameters/CompanyStatusQueryParam'
        - $ref: '#/components/parameters/CompanyCityQueryParam'
        - $ref: '#/components/parameters/CompanyCountryQueryParam'
        - $ref: '#/components/parameters/CompanyIsActiveQueryParam'
        - $ref: '#/components/parameters/CompanyIsVerifiedQueryParam'
  /companies/nearby:
    x-codegen:
      resource:
        name: Company
        path:
          - platform
          - companies
    get:
      operationId: getNearbyCompanies
      tags:
        - Company
      summary: Get nearby companies
      responses:
        '200':
          $ref: '#/components/responses/GetNearbyCompanies200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      parameters:
        - name: latitude
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/CompanyLatitude'
        - name: longitude
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/CompanyLongitude'
        - name: radius
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/CompanyServiceRadius'
        - name: type
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/CompanyType'
        - name: limit
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedLimit'
        - $ref: '#/components/parameters/CompanyLatitudeQueryParam'
        - $ref: '#/components/parameters/CompanyLongitudeQueryParam'
        - $ref: '#/components/parameters/CompanyRadiusQueryParam'
        - $ref: '#/components/parameters/CompanyTypeQueryParam'
        - $ref: '#/components/parameters/CompanyLimitQueryParam'
  /companies/me:
    x-codegen:
      resource:
        name: Company
        path:
          - platform
          - companies
    get:
      operationId: getMyCompany
      tags:
        - Company
      summary: Get my company
      responses:
        '200':
          $ref: '#/components/responses/GetMyCompany200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
  /companies/{companyId}:
    x-codegen:
      resource:
        name: Company
        path:
          - platform
          - companies
    parameters:
      - $ref: '#/components/parameters/CompanyCompanyIdPathParam'
    get:
      operationId: getCompanyById
      tags:
        - Company
      summary: Get company by ID
      responses:
        '200':
          $ref: '#/components/responses/GetCompanyById200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
    patch:
      operationId: updateCompany
      tags:
        - Company
      summary: Update company
      responses:
        '200':
          $ref: '#/components/responses/UpdateCompany200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/UpdateCompanyRequestBody'
    delete:
      operationId: deleteCompany
      tags:
        - Company
      summary: Delete company
      responses:
        '200':
          $ref: '#/components/responses/DeleteCompany200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
  /companies/{companyId}/members:
    x-codegen:
      resource:
        name: Company
        path:
          - platform
          - companies
    parameters:
      - $ref: '#/components/parameters/CompanyCompanyIdPathParam'
    get:
      operationId: listMembers
      tags:
        - Company
      summary: List company members
      responses:
        '200':
          $ref: '#/components/responses/ListMembers200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      parameters:
        - name: page
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedPage'
        - name: limit
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedLimit'
        - name: role
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/CompanyMemberRole'
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/CompanyMemberStatus'
        - $ref: '#/components/parameters/CompanyPageQueryParam'
        - $ref: '#/components/parameters/CompanyLimitQueryParam'
        - $ref: '#/components/parameters/CompanyRoleQueryParam'
        - $ref: '#/components/parameters/CompanyStatusQueryParam'
  /companies/{companyId}/members/invite:
    x-codegen:
      resource:
        name: Company
        path:
          - platform
          - companies
    parameters:
      - $ref: '#/components/parameters/CompanyCompanyIdPathParam'
    post:
      operationId: inviteMember
      tags:
        - Company
      summary: Invite member
      responses:
        '200':
          $ref: '#/components/responses/InviteMember200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/InviteMemberRequestBody'
  /companies/{companyId}/members/accept-invite:
    x-codegen:
      resource:
        name: Company
        path:
          - platform
          - companies
    parameters:
      - $ref: '#/components/parameters/CompanyCompanyIdPathParam'
    post:
      operationId: acceptInvite
      tags:
        - Company
      summary: Accept invitation
      responses:
        '200':
          $ref: '#/components/responses/AcceptInvite200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/AcceptInviteRequestBody'
  /companies/{companyId}/members/{memberId}:
    x-codegen:
      resource:
        name: Company
        path:
          - platform
          - companies
    parameters:
      - $ref: '#/components/parameters/CompanyCompanyIdPathParam'
      - $ref: '#/components/parameters/CompanyMemberIdPathParam'
    get:
      operationId: getMember
      tags:
        - Company
      summary: Get member
      responses:
        '200':
          $ref: '#/components/responses/GetMember200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
    patch:
      operationId: updateMember
      tags:
        - Company
      summary: Update member
      responses:
        '200':
          $ref: '#/components/responses/UpdateMember200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/UpdateMemberRequestBody'
    delete:
      operationId: removeMember
      tags:
        - Company
      summary: Remove member
      responses:
        '200':
          $ref: '#/components/responses/RemoveMember200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
  /companies/{companyId}/documents:
    x-codegen:
      resource:
        name: Company
        path:
          - platform
          - companies
    parameters:
      - $ref: '#/components/parameters/CompanyCompanyIdPathParam'
    get:
      operationId: listCompanyDocuments
      tags:
        - Company
      summary: List company documents
      responses:
        '200':
          $ref: '#/components/responses/ListCompanyDocuments200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      parameters:
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/CompanyDocumentStatus'
        - $ref: '#/components/parameters/CompanyStatusQueryParam'
    post:
      operationId: submitCompanyDocument
      tags:
        - Company
      summary: Submit company document
      responses:
        '201':
          $ref: '#/components/responses/SubmitCompanyDocument201Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '409':
          $ref: '#/components/responses/SubmitCompanyDocument409Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/SubmitCompanyDocumentRequestBody'
  /companies/{companyId}/documents/{documentId}:
    x-codegen:
      resource:
        name: Company
        path:
          - platform
          - companies
    parameters:
      - $ref: '#/components/parameters/CompanyCompanyIdPathParam'
      - $ref: '#/components/parameters/CompanyDocumentIdPathParam'
    get:
      operationId: getCompanyDocument
      tags:
        - Company
      summary: Get company document
      responses:
        '200':
          $ref: '#/components/responses/GetCompanyDocument200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
    patch:
      operationId: updateCompanyDocument
      tags:
        - Company
      summary: Update company document
      responses:
        '200':
          $ref: '#/components/responses/UpdateCompanyDocument200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/UpdateCompanyDocumentRequestBody'
    delete:
      operationId: deleteCompanyDocument
      tags:
        - Company
      summary: Delete company document
      responses:
        '200':
          $ref: '#/components/responses/DeleteCompanyDocument200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
  /companies/{companyId}/services:
    x-codegen:
      resource:
        name: Company
        path:
          - platform
          - companies
    parameters:
      - $ref: '#/components/parameters/CompanyCompanyIdPathParam'
    get:
      operationId: listCompanyServices
      tags:
        - Company
      summary: List company services
      responses:
        '200':
          $ref: '#/components/responses/ListCompanyServices200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      parameters:
        - name: isActive
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/CompanyServiceIsActive'
        - $ref: '#/components/parameters/CompanyIsActiveQueryParam'
    post:
      operationId: addCompanyService
      tags:
        - Company
      summary: Add company service
      responses:
        '201':
          $ref: '#/components/responses/AddCompanyService201Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '409':
          $ref: '#/components/responses/AddCompanyService409Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/AddCompanyServiceRequestBody'
  /companies/{companyId}/services/{serviceId}:
    x-codegen:
      resource:
        name: Company
        path:
          - platform
          - companies
    parameters:
      - $ref: '#/components/parameters/CompanyCompanyIdPathParam'
      - $ref: '#/components/parameters/CompanyServiceIdPathParam'
    get:
      operationId: getCompanyService
      tags:
        - Company
      summary: Get company service
      responses:
        '200':
          $ref: '#/components/responses/GetCompanyService200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
    patch:
      operationId: updateCompanyService
      tags:
        - Company
      summary: Update company service
      responses:
        '200':
          $ref: '#/components/responses/UpdateCompanyService200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/UpdateCompanyServiceRequestBody'
    delete:
      operationId: removeCompanyService
      tags:
        - Company
      summary: Remove company service
      responses:
        '200':
          $ref: '#/components/responses/RemoveCompanyService200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
  /companies/{companyId}/availability:
    x-codegen:
      resource:
        name: Company
        path:
          - platform
          - companies
    parameters:
      - $ref: '#/components/parameters/CompanyCompanyIdPathParam'
    get:
      operationId: getAvailability
      tags:
        - Company
      summary: Get company availability
      responses:
        '200':
          $ref: '#/components/responses/GetAvailability200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
    put:
      operationId: setAvailability
      tags:
        - Company
      summary: Set full availability schedule
      responses:
        '200':
          $ref: '#/components/responses/SetAvailability200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/SetAvailabilityRequestBody'
  /companies/{companyId}/availability/{day}:
    x-codegen:
      resource:
        name: Company
        path:
          - platform
          - companies
    parameters:
      - $ref: '#/components/parameters/CompanyCompanyIdPathParam'
      - $ref: '#/components/parameters/CompanyDayPathParam'
    patch:
      operationId: updateDayAvailability
      tags:
        - Company
      summary: Update single day availability
      responses:
        '200':
          $ref: '#/components/responses/UpdateDayAvailability200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/UpdateDayAvailabilityRequestBody'
  /companies/{companyId}/reviews:
    x-codegen:
      resource:
        name: Company
        path:
          - platform
          - companies
    parameters:
      - $ref: '#/components/parameters/CompanyCompanyIdPathParam'
    get:
      operationId: listReviews
      tags:
        - Company
      summary: List company reviews
      responses:
        '200':
          $ref: '#/components/responses/ListReviews200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      parameters:
        - name: page
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedPage'
        - name: limit
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedLimit'
        - name: rating
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/CompanyReviewRating'
        - $ref: '#/components/parameters/CompanyPageQueryParam'
        - $ref: '#/components/parameters/CompanyLimitQueryParam'
        - $ref: '#/components/parameters/CompanyRatingQueryParam'
    post:
      operationId: createReview
      tags:
        - Company
      summary: Create review
      responses:
        '201':
          $ref: '#/components/responses/CreateReview201Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '409':
          $ref: '#/components/responses/CreateReview409Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/CreateReviewRequestBody'
  /companies/{companyId}/reviews/{reviewId}:
    x-codegen:
      resource:
        name: Company
        path:
          - platform
          - companies
    parameters:
      - $ref: '#/components/parameters/CompanyCompanyIdPathParam'
      - $ref: '#/components/parameters/CompanyReviewIdPathParam'
    get:
      operationId: getReview
      tags:
        - Company
      summary: Get review
      responses:
        '200':
          $ref: '#/components/responses/GetReview200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
    delete:
      operationId: deleteReview
      tags:
        - Company
      summary: Delete review (admin)
      responses:
        '200':
          $ref: '#/components/responses/DeleteReview200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
  /bookings:
    x-codegen:
      resource:
        name: Booking
        path:
          - platform
          - bookings
    post:
      operationId: createBooking
      tags:
        - Booking
      summary: Create booking
      responses:
        '201':
          $ref: '#/components/responses/CreateBooking201Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '409':
          $ref: '#/components/responses/CreateBooking409Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/CreateBookingRequestBody'
    get:
      operationId: listBookings
      tags:
        - Booking
      summary: List bookings
      responses:
        '200':
          $ref: '#/components/responses/ListBookings200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      parameters:
        - name: page
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedPage'
        - name: limit
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedLimit'
        - name: sort
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SharedSort'
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/BookingStatus'
        - name: type
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/BookingType'
        - name: userId
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/BookingUserId'
        - name: companyId
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/BookingCompanyId'
        - name: urgency
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/BookingUrgency'
        - name: paymentStatus
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/BookingPaymentStatus'
        - $ref: '#/components/parameters/BookingPageQueryParam'
        - $ref: '#/components/parameters/BookingLimitQueryParam'
        - $ref: '#/components/parameters/BookingSortQueryParam'
        - $ref: '#/components/parameters/BookingStatusQueryParam'
        - $ref: '#/components/parameters/BookingTypeQueryParam'
        - $ref: '#/components/parameters/BookingUserIdQueryParam'
        - $ref: '#/components/parameters/BookingCompanyIdQueryParam'
        - $ref: '#/components/parameters/BookingUrgencyQueryParam'
        - $ref: '#/components/parameters/BookingPaymentStatusQueryParam'
  /bookings/{bookingId}:
    x-codegen:
      resource:
        name: Booking
        path:
          - platform
          - bookings
    parameters:
      - $ref: '#/components/parameters/BookingBookingIdPathParam'
    get:
      operationId: getBookingById
      tags:
        - Booking
      summary: Get booking by ID
      responses:
        '200':
          $ref: '#/components/responses/GetBookingById200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
  /bookings/{bookingId}/cancel:
    x-codegen:
      resource:
        name: Booking
        path:
          - platform
          - bookings
    parameters:
      - $ref: '#/components/parameters/BookingBookingIdPathParam'
    post:
      operationId: cancelBooking
      tags:
        - Booking
      summary: Cancel booking
      responses:
        '200':
          $ref: '#/components/responses/CancelBooking200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
  /bookings/{bookingId}/quote:
    x-codegen:
      resource:
        name: Booking
        path:
          - platform
          - bookings
    parameters:
      - $ref: '#/components/parameters/BookingBookingIdPathParam'
    post:
      operationId: sendQuote
      tags:
        - Booking
      summary: Send quote for booking
      responses:
        '200':
          $ref: '#/components/responses/SendQuote200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
      requestBody:
        $ref: '#/components/requestBodies/SendQuoteRequestBody'
  /bookings/{bookingId}/accept-quote:
    x-codegen:
      resource:
        name: Booking
        path:
          - platform
          - bookings
    parameters:
      - $ref: '#/components/parameters/BookingBookingIdPathParam'
    post:
      operationId: acceptQuote
      tags:
        - Booking
      summary: Accept quote
      responses:
        '200':
          $ref: '#/components/responses/AcceptQuote200Response'
        '400':
          $ref: '#/components/responses/Default400Response'
        '401':
          $ref: '#/components/responses/Default401Response'
        '403':
          $ref: '#/components/responses/Default403Response'
        '404':
          $ref: '#/components/responses/Default404Response'
        '422':
          $ref: '#/components/responses/Default422Response'
        '500':
          $ref: '#/components/responses/Default500Response'
  /bookings/{bookingId}/reject-quote:
    x-codegen:
      resource:
        name: Booking
        path:
          - platform
          - bookings
    parameters:
      - $ref: '#/components/parameters/BookingBookingIdPathParam'
    post:
      operationId: rejectQuote
      tags:
        - Booking
      summary: Reject quote
      responses:
[...]
